#container{
    
}
#title{
    font-size: 24px;
    font-weight: bold;
}

#copyright{
    font-size: 12px;
    color: #999;
    text-align: center;
}
#one1{
    color: red;
}
#one2{
    font-weight: bold;
}