#container1{
    width: 60%;
    margin: 0 auto;
}

#title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#time{
    font-size: 16px;
    color: #888;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#video{
    width: 50%;
    margin-bottom:0 auto;
}
#xiabiao{
    text-align: right;
    font-size: 14px;
    color: #555;
    margin-top: 20px;
}